.bodycard{
    color: white;
    border-radius: 0 0 0px 0px;
    width: 250px;
    background-color: #1d204b;
    cursor: pointer;
}
.bodycard:hover{
    background-color: #34397b;
}

.card{
    height: 200px;
    border: none;
    border-radius: 10px;
    overflow: hidden;

}

svg{
    cursor: pointer;
    filter: brightness(0.5);
    
    
}
svg:hover{
    filter: brightness(1);
}


@media screen and (max-width: 850px) {
    .bodycard{
        width:500px;
    }
}
@media screen and (max-width: 565px) {
    .bodycard{
        width:360px;
    }
}
@media screen and (max-width: 380px) {
    .bodycard{
        width:280px;
    }
}