.case{
    height: 100px;
    width: 100px;
  border-radius: 50%;
   background-color: red;
   
   
   
}


.ligne{
    z-index: 1;
    display: flex;
    width: 310px;
    height: 310px;
    flex-wrap: wrap;
    gap: 5px;
    border: 5px solid black;
    background-color: white;
    background-size: contain;
  
  
}
body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
